*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 5.1vw;
    /* background-image: linear-gradient(rgb(252, 215, 244),white); */
    background-image:linear-gradient(rgb(185, 233, 253),white );
    margin: 0;
    box-shadow: inset -7px -7px 10px rgb(215, 247, 255);
    z-index: 99;
    position: fixed;
    top: 0;
    display: block;
    transition: top 0.75s;
}

.logo{
    width: 20%;
    float: left;
    height: 5vw;
}
.logo>a>img{
    float: left;
    max-width: 50%;
    max-height: 100%;
    margin-left: 20%;
}
.name{
    float: left;
    line-height: 5vw;
    font-size: 1.5vw;
    font-family:Cambria;
    color: rgb(27, 197, 197);
    font-weight: bold;
}
.timkiem{
    width: 35%;
    float: left;
    height: 5vw;
    position: relative;
    
}
.search1{
    position: absolute;
    font-size: 1vw;
    width: 55%;
    height: 2vw;
    top: 28%;
    bottom: 30%;
    border-radius: 5px;
    outline: none;
    border: 2px solid skyblue;
    text-align: center;
    margin-left: 20%;
}
.search>img{
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    position: absolute;
    top: 32%;
    left: 77%;
}
.nav{
    width: 45%;
    height: 5.1vw;
    float: left;
    overflow: hidden;
    background-image:linear-gradient(rgb(185, 233, 253),white );
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset  7px -7px 10px rgb(215, 247, 255);
}
.nav>a {
    font-size: 1vw;
    color: rgb(7, 148, 115);
    text-align: center;
    padding: 4.5% 4%;
    text-decoration: none;
    font-weight: bold;
    float: left;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .muc {
    border: none;
    outline: none;
    color: rgb(7, 148, 115);
    padding-top: 22%;
    padding-bottom: 1.7vw;
    padding-left: 1.85vw;
    padding-right: 1.85vw;
    background-color: inherit;
    font-weight: bold;
    font-size: 1vw;
}
  
.nav a:hover, .dropdown:hover .muc {
    background-color: rgb(98, 189, 159);
    /* background-color: rgb(185, 233, 253); */
    cursor: pointer;
    color: aliceblue;
}
  
.drop {
    display: none;
    position: absolute;
    /* background-color: rgb(207, 232, 253); */
    background-image:linear-gradient(rgb(185, 233, 253),white );
    width: 100%;
    height: auto;
    left: 0;
    box-shadow: 0px 8px 5px rgb(207, 232, 253);
    z-index: 99;
    margin-top: 0;
} 
.dropdown:hover .drop{
    display: block;
}
.cot{
    float: left;
    width: 25%;
    /* padding: 10px; */
    /* background-image:linear-gradient(rgb(185, 233, 253),white ); */
    height: auto;
    /* border: 1px solid black; */
    /* text-align: center; */
    margin-right: 1.5vw;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}
#cot1{
    margin-left: 10%;
}
.hang1{
    width: 100%;
    height: 65px;
    background-color: rgb(98, 189, 159);
    /* background-color: rgb(185, 233, 253); */
}
#phone{
    margin-left: 17vw;
}
.hang3{
    display: none;
}
.mathang2{
    text-align: center;
    color: rgb(228, 83, 39);
    font-size: 15pt;
    margin: 10px 0;
}
.mathang{
    color: rgb(241, 238, 237);
    font-size: 2vw;
    display: inline-block;
    line-height: 65px;
    width: 25%;
    margin: 0 1vw;
}
.loai{
    text-align: center;
    padding: 4% 4%;
    float: left;
    
} 
.icon{
    padding: 0.42vw;
    width: 28%;
    height: auto;
    text-align: center;
}
.cot a:hover .icon{
    width: 35%;
}
.icon1{
    width: 13.61%;
    height: auto;
    /* padding-right: 0.5vw; */
    /* background-color: aqua; */
    margin-left: 7.9vw;
}
.loai1:hover .icon1{
    width: 16%;
}
.loai1{
    position: relative;
}
.tenphukien{
    
    /* background-color: aqua; */
    position: absolute;
    top: 33%;
    left: 12vw;
    /* text-align: center; */
}
a.loai1{
    padding: 0.19vw;
    display: block;
    text-decoration: none;
    /* text-align: center; */
    font-weight: bold;
    color: rgb(98, 81, 192);
    font-size: 1.3vw;
    font-family:'Times New Roman';
}

.cot a:hover {
    background-color: rgb(211, 250, 250);
    font-size: 1.6vw;
    color: rgb(26, 3, 160);
    border-radius: 10px;
}
.hang:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 767px) {
    header{
        position: relative;
        margin: 0;
        height: 50px;
    }
    .cot {
      width: 100%;
      height: auto;
      margin: 0;
    }
    #cot1{
        margin: 0;
    }
    .logo, .timkiem{
        display: none;
    }
    .cot{
        border-bottom: 5px solid rgb(185, 233, 253) ;
    }
    .hang1{
        display: none;
    }
    .hang3{
        display: block;
    }
    .nav{
        width: 100%;
        height: 100%;
    }
    .nav>a {
        font-size: 8pt;
        color: rgb(7, 148, 115);
        padding: 0 15px;
        text-decoration: none;
        font-weight: bold;
        line-height: 50px;
    }
    .home{
        margin-left: 33px;
    }
    .dropdown .muc {
        border: none;
        outline: none;
        color: rgb(7, 148, 115);
        padding-top: 3.66vw;
        padding-bottom: 1vw;
        padding-left: 15px;
        padding-right: 15px;
        background-color: inherit;
        font-weight: bold;
        font-size: 8pt;
    }
    .tenphukien{
        /* background-color: aqua; */
        position: absolute;
        top: 40%;
        left: 48vw;
        /* text-align: center; */
    }
    .cot a:hover {
        font-size: 4vw;
    }
    a.loai1{
        font-size: 3vw;
    }
    .icon1{
        width: 10%;
        height: auto;
        /* padding-right: 0.5vw; */
        /* background-color: aqua; */
        margin-left: 35vw;
        text-align: none;
    }
    .loai1:hover .icon1{
        width: 12%;
    }
    .icon{
        width: 18%;
        text-align: center;
    }
    .cot a:hover .icon{
        width: 22%;
    }
    .loai{
        text-align: center;
        padding: 2vw;
        float: left;
        width: 100%;
    } 
}