*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    /* background-color: black; */
}
.banner{
    width: 100%;
    min-height: 54vw;
    position: relative;
    top:5.1vw;
}
.mySlides>a>img{
    width: 100%;
    height: 43.3vw;
}
.effect{
    animation-name: nd;
    animation-duration: 2s;
}
@keyframes nd {
    from {opacity: 0.65} 
    to {opacity: 1}
  }
.next,.previous{
    position: absolute;
    cursor: pointer;
    top: 37%;
    width: auto;
    padding: 1vw;
    margin-top: -22px;
    color: rgb(31, 29, 29);
    font-weight: bold;
    font-size: 2vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 0.8;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.previous:hover,
.next:hover{
    background-color: rgba(245, 192, 227, 0.8);
}
#play,
#stop{
    position: absolute;
    cursor: pointer;
    font-size: 2vw;
    left: 48.5%;
    bottom: 13.8%;
}
/* #stop{
    padding-right: 23px;
} */
#play{
    display: none;
}
.a{
    text-align: center;
    font-size: 2vw;
    margin-bottom: 2%;
}
.sanpham{
    width: 70%;
    height: 50vw;
    margin: 0 auto;
    margin-bottom: 5%;
}
div.row{
    width: 100%;
    height: 50%;
    margin-bottom: 1.5%;
}
.sp{
    /* border: 1px solid gray; */
    height: 100%;
    width: calc(25% - 12px);
    float: left;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin: 1px 6px;
    background-color:rgba(193, 196, 199, 0.164);
}
.sp>a>img{
    max-width: 105%;
    height: auto;
    margin: auto;
    /* background-color: aqua; */
}
.sp:hover{
    box-shadow: 0 0 2.5px rgb(111, 144, 252);
    border-radius: 3px;
    transform: scale(1.06);
    background-color: rgb(210, 239, 252);
    
}
.ten{
    position: absolute;
    color: cornflowerblue;
    font-size: 1vw;
    bottom: 24%;
    left: 1%;
    right: 1%;
}
.gia{
    position: absolute;
    bottom: 18%;
    left: 1%;
    right: 1%;
    font-size: 1vw;
}
.buy{
    position: absolute;
    right: 32.5%;
    bottom: 5%;
    /* border-radius: 0.5vw; */
    width: 32%;
    height: 9%;
    /* outline: none; */
    /* box-shadow: inset -2px -2px 2px rgb(155, 154, 154); */
    border: 1px solid lightgray;
    font-size: 1vw;
    background-color: aliceblue;
}
.buy:hover{
    cursor: pointer;
    background-color: rgb(253, 87, 27);
    font-weight: bold;
    color: aliceblue;
    border: 1px solid rgb(253, 87, 27);
}
@media screen and (max-width: 600px) {
    .next, .previous{
        padding: 2vw;
    }
    .a{
        margin-top: 2vw;
    }
    .sanpham{
        margin-bottom: 10vw;
    }
    .banner{
        top: 0;
    }
}