.about{
    margin-top: 7vw;
    width: 100%;
    max-height: 900px;
    text-align: center;
}
.noidung{
    font-size: 20px;
    line-height: 30px;
    color: rgb(49, 1, 170);
    font-weight: bold;
}
.logoLH{
    width: 20px;
}
.map{
    margin: 50px 0;
}