<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ND STORE | MUA HÀNG</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/muahang.css">
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/muahang.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

</head>

<body>
    <header id="navbar">
        <div class="nav">
            <a href="index.html" class="home">TRANG CHỦ</a>
            <div class="dropdown">
                <button class="muc">SẢN PHẨM</button>
                <div class="drop">
                    <div class="hang1">
                        <p class="mathang" id="phone">ĐIỆN THOẠI</p>
                        <p class="mathang">PHỤ KIỆN</p>
                        <p class="mathang">TABLET</p>
                    </div>
                    <div class="hang">
                        <div class="cot" id="cot1">
                            <div class="hang3" id="phone1">
                                <p class="mathang2">ĐIỆN THOẠI</p>
                            </div>
                            <a href="iphone13promax.html" class="loai"><img src="images/logo-iphone.png" alt=""
                                    class="icon"></a>
                            <a href="samsungs22ultra.html" class="loai"><img src="images/logo-samsung.png" alt=""
                                    class="icon"></a>
                            <a href="sonyxperia1ii.html" class="loai"><img src="images/sony_logo.png" alt=""
                                    class="icon"></a>
                            <a href="nokia7.2.html" class="loai"><img src="images/Nokia-logo.png" alt=""
                                    class="icon"></a>
                            <a href="oppofindx3pro.html" class="loai"><img src="images/logo-oppo.png" alt=""
                                    class="icon"></a>
                        </div>
                        <div class="cot">
                            <div class="hang3">
                                <p class="mathang2">PHỤ KIỆN</p>
                            </div>
                            <a href="" class="loai1"><img src="images/logo-loa1.png" alt="" class="icon1"><span
                                    class="tenphukien">Loa</span></a>
                            <a href="" class="loai1"><img src="images/logo-tai-nghe.png" alt="" class="icon1"><span
                                    class="tenphukien">Tai nghe</span></a>
                            <a href="" class="loai1"><img src="images/logo-op-lung.png" alt="" class="icon1"><span
                                    class="tenphukien">Ốp lưng</span></a>
                            <a href="" class="loai1"><img src="images/logo-cap-sac.png" alt="" class="icon1"><span
                                    class="tenphukien">Cáp sạc</span></a>

                            <a href="" class="loai1"><img src="images/logo-sac-du-phong.png" alt="" class="icon1"><span
                                    class="tenphukien">Sạc dự phòng</span></a>
                        </div>
                        <div class="cot">
                            <div class="hang3">
                                <p class="mathang2">TABLET</p>
                            </div>
                            <a href="" class="loai"><img src="images/logo-ipad.png" alt="" class="icon"></a>
                            <a href="" class="loai"><img src="images/logo-samsung.png" alt="" class="icon"></a>
                            <a href="" class="loai"><img src="images/Nokia-logo.png" alt="" class="icon"></a>
                            <a href="" class="loai"><img src="images/logo-huawei.png" alt="" class="icon"></a>
                            <a href="" class="loai"><img src="images/xiaomi-logo2.png" alt="" class="icon"></a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="muahang.html">MUA HÀNG</a>
            <a href="tintuc.html">TIN TỨC</a>
            <a href="lienhe.html">LIÊN HỆ</a>
        </div>
        <div class="timkiem">
            <input type="text" class="search1" placeholder="Tìm kiếm sản phẩm">
            <a class="search"><img src="images/Search_Icon.png" alt=""></a>
        </div>
        <div class="logo">
            <a href="index.html"><img src="images/logo25.1.png" alt=""></a>
            <a href="index.html">
                <p class="name">ND PHONES</p>
            </a>
        </div>
    </header>
    <div id="top"></div>
    <div class="sectionBuy" ng-app="b1">
        <div class="tieuDe">
            <p class="gioHang">GIỎ HÀNG CỦA BẠN</p>
            <img src="images/icon-cart.png" alt="" class="hinhCart">
        </div>
        <div id="gio">
            <div id="khong">
                <p class="khong">Không có sản phẩm nào trong giỏ hàng 🛒</p>
            </div>
        </div>
        <div id="tongTien"></div>
        <div id="thanhToan" ng-controller="check">
            <form name="frm">
                <div class="infUser">
                    <label id="loaiThongTin">THÔNG TIN KHÁCH HÀNG</label> <br>
                    <label id="chiTietGT"><input type="radio" id="chiTietGT" name="GT" value="Nam" checked> Anh</label>
                    <label id="chiTietGT"><input type="radio" id="chiTietGT" name="GT" value="Nữ"> Chị</label> <br>
                    <input type="text" name="tenkh" ng-model="tenkh" placeholder="Họ và tên" id="tenKH" required>
                    <input type="text" name="sdt" ng-model="sdt" placeholder="Số điện thoại" id="soDT" required> <br>
                    <div class="thongBao">
                        <em ng-if="frm.tenkh.$invalid" class="text-danger">Vui lòng nhập họ và tên!</em>
                        <em ng-if="frm.sdt.$invalid" class="text-danger1">Vui lòng nhập số điện thoại!</em>
                    </div> <br>
                    <label id="giamGia">MÃ GIẢM GIÁ</label> <br>
                    <input type="text" id="maGiamGia" placeholder="Nhập mã giảm giá">
                    <button id="apDung">Áp dụng</button> <br> <br>
                    <label id="loaiThongTin">CÁCH THỨC NHẬN HÀNG</label> <br>
                    <label id="chiTietNH"><input type="radio" id="chiTietNH" name="NH" value="Giao tận nơi" checked>
                        Giao tận nơi</label>
                    <label id="chiTietNH"><input type="radio" id="chiTietNH" name="NH" value="Nhận tại shop"> Nhận tại
                        shop</label> <br>

                </div>
                <div class="tongTien2">
                    <p>Tổng tiền:<b id="tongTien2"></b></p>
                    <p>Giảm giá: <b id="soTienGiam"></b></p>
                    <p>Thanh toán: <b id="tongTien3"></b></p>
                </div>
                <div class="nutMua">
                    <button id="datHang" ng-click="datHang()">ĐẶT HÀNG</button>
                </div>
            </form>
        </div>

        <div class="dieuKhoan">
            <p class="DK">Bằng cách đặt hàng, bạn đồng ý với điều khoản sử dụng của ND Phones</p>
        </div>
    </div>
    <div class="sanpham">
        <div class="row" id="row1">
            <div class="sp">
                <a href=""><img src="images/iphone-12-pro-max1.png" alt=""></a>
                <b class="ten">IPHONE 12 PRO MAX - 256GB</b> <br>
                <i class="gia">30.690.000 VND</i>
                <a href="#"><button class="buy"
                        onclick="them('images/iphone-12-pro-max1.png','IPHONE 12 PRO MAX - 256GB',30690000,'a')">Mua
                        ngay</button></a>
            </div>
            <div class="sp">
                <a href="sonyxperia1ii.html"><img src="images/sonyxperia1.png" alt=""></a>
                <b class="ten">SONY XPERIA 1 II</b> <br>
                <i class="gia">21.990.000 VND</i>
                <a href="#"><button class="buy"
                        onclick="them('images/sonyxperia1.png','SONY XPERIA 1 II',21990000,'b')">Mua ngay</button></a>
            </div>
            <div class="sp">
                <a href="nokia7.2.html"><img src="images/nokia-7-2-xanh.png" alt=""></a>
                <b class="ten">NOKIA 7.2</b> <br>
                <i class="gia">6.190.000 VND</i>
                <a href="#"><button class="buy" onclick="them('images/nokia-7-2-xanh.png','NOKIA 7.2',6190000,'c')">Mua
                        ngay</button></a>
            </div>
            <div class="sp">
                <a href=""><img src="images/Google-Pixel-6-1-removebg.png" alt=""></a>
                <b class="ten">GOOGLE PIXEL 6</b> <br>
                <i class="gia">11.990.000 VND</i>
                <a href="#"><button class="buy"
                        onclick="them('images/Google-Pixel-6-1-removebg.png','GOOGLE PIXEL 6',11990000,'d')">Mua
                        ngay</button></a>
            </div>
        </div>
        <div class="row" id="row2">
            <div class="sp">
                <a href="samsungs22ultra.html"><img src="images/samsung s22.png" alt=""></a>
                <b class="ten">SAMSUNG S22 ULTRA 512GB</b> <br>
                <i class="gia">36.990.000 VND</i>
                <a href="#"><button class="buy"
                        onclick="them('images/samsung s22.png','SAMSUNG S22 ULTRA 512GB',36990000,'e')">Mua
                        ngay</button></a>
            </div>
            <div class="sp">
                <a href=""><img src="images/samsung a53.png" alt=""></a>
                <b class="ten">SAMSUNG A53 5G 128GB</b> <br>
                <i class="gia">9.990.000 VND</i>
                <a href="#"><button class="buy"
                        onclick="them('images/samsung a53.png','SAMSUNG A53 5G 128GB',9990000,'f')">Mua
                        ngay</button></a>
            </div>
            <div class="sp">
                <a href="iphone13promax.html"><img src="images/ipphone 13 pro max.png" alt=""></a>
                <b class="ten">IPHONE 13 PRO MAX 128GB</b> <br>
                <i class="gia">33.990.000 VND</i>
                <a href="#"><button class="buy"
                        onclick="them('images/ipphone 13 pro max.png','IPHONE 13 PRO MAX 128GB',33990000,'g')">Mua
                        ngay</button></a>
            </div>
            <div class="sp">
                <a href="oppofindx3pro.html"><img src="images/oppo-find-x3-pro.png" alt=""></a>
                <b class="ten">OPPO FIND X3 PRO</b> <br>
                <i class="gia">19.990.000 VND</i>
                <a href="#"><button class="buy"
                        onclick="them('images/oppo-find-x3-pro.png','OPPO FIND X3 PRO', 19990000,'h')">Mua
                        ngay</button></a>
            </div>
        </div>
    </div>
    <footer>
        <p class="ket">
            CỬA HÀNG SMARTPHONE ND STORE <br>
            Tầng 5 - ND Tower - 55 Lê Thánh Tông,Phường Bến Nghé,Quận 1,Tp.HCM <br>
            Email: nghiepdvps20385@fpt.edu.vn
        </p>
    </footer>
    <script>
        app = angular.module("b1", []);
        app.controller("check", xuLy);
    </script>
</body>

</html>